* {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

body {
    padding-top: 64px;
}

h1, h2, h3 {
    color: rgb(10, 117, 170);
    font-weight: bold;
    white-space: nowrap;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

h1, h2 {
    display: inline-block;
    position: relative;
}

h1::after, h2::after {
    content: '';
    bottom: 2px;
    position: absolute;
    height: 10px;
    background-color: rgba(10, 117, 170, 0.1);
    width: 100%;
    left: 0;
}

.title__logo {
    width: 32px;
    height: auto;
    margin-right: 24px;
}

.content {
    margin-bottom: 48px;
    max-width: 580px;
    position: relative;
}

.content::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(10, 117, 170, 0.1);
}

.slick-carousel__image {
    height: 500px;
    background-size: cover;
    background-position: center center;
}

.content-wrapper {
    margin-bottom: 88px;
}

.vero-img {
    width: 320px;
    height: 427px;
    margin-right: 48px;
    border: 10px solid rgba(10, 117, 170, 0.1);
    flex-shrink: 0;
    margin-bottom: 48px;
}

.container {
    overflow: hidden;
}

strong {
    font-weight: 700;
    color: black;
    position: relative;
    white-space: nowrap;
}

strong::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 2px;
    background-color: rgba(10, 117, 170, 0.1);
}

.cta {
    background: rgba(10, 117, 170, 0.1);
    padding: 80px 0;
}

.blue-background {
    padding: 10px;
    background-color: rgba(10, 117, 170, 0.1);
    display: block;
}

.image {
    margin-right: 10px;
    margin-bottom: 10px;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.slick-wrapper {
    margin-bottom: 64px;
    padding: 10px;
    background-color: rgba(10, 117, 170, 0.1);
}

h2 {
    margin-bottom: 24px;
}

.cta p {
    margin-bottom: 24px;
}

.cta__btn {
    background-color: rgb(168,22,70);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.cta__btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(168,22,70, .8);
}

.slick-next, .slick-prev {
    color: rgb(10, 117, 170) !important;
    z-index: 2;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.slick-next::before {
    display: none;
}

.slick-prev::before {
    display: none;
}

.slick-dots {
    bottom: -27px;
}

@media only screen and (max-width: 800px) {
    .slick-next, .slick-prev {
        bottom: -35px;
        top: auto;
    }

    .slick-next {
        right: 20px;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-carousel__image {
        height: 300px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    .title, .vero-img, .slick-wrapper {
        margin-bottom: 24px;
    }

    .content-wrapper {
        margin-bottom: 66px;
    }

    .title__logo {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 800px) {
    .content-wrapper {
        display: flex;
    }

    .vero-img {
        margin-bottom: 0;
    }

    .content-wrapper {
        margin-bottom: 48px;
    }
}
